@font-face {
  font-family: abril-reg;
  src: url(../fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: apple;
  src: url(../fonts/Apple Symbols.ttf);
}
@font-face {
  font-family: snell;
  src: url(../fonts/SnellRoundhand.ttc);
}
html {
  scroll-behavior: smooth;
}
* {
   margin: 0px;
   padding: 0px;
   font-family: arial;
}
.container {
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
section {
  position: relative;
}
img {
  margin-top: -5px;
}
.right {
  float: right;
}
.clear {
  clear: both;
}


/* Section1 */
.name h1, .name span, .content-1 h2 {
  font-family: abril-reg!important;
}
.content-1 h2 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 30px;
  transform: translate(-50%);
  letter-spacing: 1px;
  color: #333;
}
.love-1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 60px;
}
.name {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  width: 60%;
  font-weight: 100;
  color: #333;
}
.name h1:last-child {
  text-align: right;
}
.name h1:nth-child(2) {
  color: #ab9881;
  position: absolute;
  top: 20%;
  left: 49%;
  transform: translate(-50%);
}
.content-1 a {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #696765;
}
/* End section1 */

/* Section2 */
.content-2 {
  position: absolute;
  width: 250px;
  line-height: 30px;
  text-align: center;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content-2 p {
  font-family: myriad pro;
  font-size: 18px;
  word-spacing: 5px;
  color: #444;
}
/* End section2 */

/* Section3 */
.content-3 {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}
.content-3 p {
  font-family: myriad pro;
  word-spacing: 5px;
  font-weight: 500;
  position: absolute;
  font-size: 17px;
  color: #333;
}
.c3-t1 {
  left: 22%;
  top: 15%;
  line-height: 25px;
}
.c3-t2 {
  right: 25%;
  top: 52%;
}
.content-3 img {
  margin-top: 30px;
}

.c3-i1 {
  width: 80%;
}
.c3-i2 {
  width: 70%;
}
.c3-i3 {
  width: 46%;
  margin-left: -5%;
}

/* End section3 */

/* Section4 */
.content-4 {
  width: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content-4 p {
  font-family: myriad pro;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 17px;
  color: #333;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  word-spacing: 6px;
}
.c4-t1 {
  margin-top: 40%;
}
.c4-t2 {
  margin-top: 80%;
  text-align: right;
}
/* End section4 */

/* Section5 */
.content-5 {
  width: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content-5 p {
  font-family: myriad pro;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 17px;
  color: #333;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  word-spacing: 6px;
  line-height: 28px;
}
.c5-t1 {
  margin-top: 10%;
}
.c5-t2 {
  margin-top: 130%;
}
/* End section5 */

/* Section6 */
.content-6 {
  width: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content-6 p {
  font-family: myriad pro;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 17px;
  color: #333;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  word-spacing: 6px;
  line-height: 30px;
}
.content-6 h2 {
  color: #bc7b30;
  font-weight: 100;
  font-family: abril-reg;
  text-align: center;
  margin-top: 20%;
}
.c6-t1 {
  margin-top: 50%;
}
.c6-t2 {
  margin-top: 10px;
}
/* End section6 */

/* Section7 */
.content-7 {
  width: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content-7 img {
  width: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.content-7 p {
  font-family: myriad pro;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 17px;
  color: #333;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  word-spacing: 5px;
  line-height: 30px;
}
.content-7 h2 {
  color: #bc7b30;
  font-weight: 100;
  font-family: abril-reg;
  text-align: center;
  margin-top: 30%;
}
/* End section7 */

/* Section8 */
.content-8 {
  width: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content-8 p {
  font-family: myriad pro;
  font-weight: 400;
  font-size: 17px;
  color: #111;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  word-spacing: 5px;
  line-height: 30px;
}
.c8-t1 {
  margin-top: 80px;
}
.name-last {
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  width: 90%;
  font-weight: 100;
  color: #333;
}
.name-last h1 {
  font-family: abril-reg;
  color: #bc7b2f;
  font-weight: 100;
  font-size: 50px;
}
.name-last h1:last-child {
  text-align: right;
  margin-top: -25px;
}
.name-last h1:nth-child(2) {
  color: #ab9881;
  position: absolute;
  top: 0%;
  left: 45%;
  transform: translate(-45%);
  font-family: snell;
  font-size: 90px;
}
.date {
  width: 100%;
  position: absolute;
  font-weight: 100;
  margin-top: 170px;
}
.date ul {
  text-align: center;
  position: relative;
}
.date ul li:nth-child(2) {
  font-family: abril-reg;
  font-size: 78px;
  padding: 0px;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
}
.date ul li{
  list-style: none;
  display: inline-block;
}
.date ul li:first-child {
  margin-right: 45px;
}
.date ul li:last-child {
  margin-left: 45px;
}
.date ul li:nth-child(odd) {
  font-family: abril-reg;
  padding: 3px 25px;
  border-top: 1.5px solid #ab9881;
  border-bottom: 1.5px solid #ab9881;
  font-size: 25px;
}
.time {
  position: absolute;
  width: 100%;
  margin-top: 120px;
}
.time .line {
  height: 50px;
  width: 1px;
  background: #333;
  position: absolute;
  left: 50%;
  margin-top: 120px;
  transform: translateX(-50%);
}
.time .akad, .time .recepsion {
  position: absolute;
  margin-top: 120px;
}
.time h3 {
  font-family: abril-reg;
  font-weight: 100;
}
.time .akad {
  left: 50px;
}
.time .recepsion {
  right: 50px;
}
.content-8 .house {
  color: #111;
  font-weight: 100;
  font-size: 26px;
  font-family: abril-reg;
  text-align: center;
  margin-top: 310px;
}
.address {
  margin-top: 10px;
}
/* End section8 */
@media screen and (max-width:500px) {
  .container {
    width: 100%;
  }
}
